
.button-send {
  font-size: 62.5%;
 background-color: blue;
 padding: 16px 32px;
 border-radius: 200px;
 color: #fff;
 font-size: 1.5rem;
 display: flex;
 align-items: center;
 justify-content: center;
 overflow: hidden;
 outline: none;
 border: none;
 box-shadow: 0px 2px 6px #4E3CC8;
 
 }

 
 






